BODY { background: #000000 ; color: #ccccff ; font-family: "Comic Sans MS", Arial, Helvetica, Univers, Sans-Serif }
P { color:#ccccff; font-family: "Comic Sans MS", Arial, Helvetica, Univers, Sans-Serif; font-size:11pt; }
H1 { font-size:20pt; color:#ccccff; font-family: Arial, Helvetica, Univers, Sans-Serif }
H2 { font-size:16pt; color:#ccccff; font-family: "Comic Sans MS", Arial, Helvetica, Univers, Sans-Serif }
